/*------------------------------------------------------

        ==============Table of Contens================

01. =google fonts
02. =Variables
03. =0verrides
04. =base
05. =box
06. =customized bootstrap classes
07. =animation keyframes
08. =section -padding , tittle
09. =buttons
10. =page loader
11. =circular img
12. =forms
13. =video modal
14. =pagination
15. =breadcrumb
16. =tabs
17. =bubble animation
18. =style switcher
19. =header
20. =footer
21. =banner
22. =fun facts section
23. =courses section
24. =testimonials section
25. =bai section
26. =course detail section
27. =contact section
//

------------------------------------------------------------*/

/*----------------------01. =google fonts---------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600;700&display=swap");
/*------------------02. =Variables------------*/

:root {
  --orange: hsl(36, 80%, 50%);
  --white: hsl(0, 0%, 100%);
  --WHITE: hsl(0, 0%, 100%);
  --BLACK: hsl(0, 0%, 0%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsla(0, 0%, 0%, 0.4);
  --yellow-light: hsl(44, 95%, 83%);
  --green-light: hsl(158, 68%, 75%);
  --red-light: hsl(0, 84%, 80%);
  --orange-light: hsl(22, 85%, 80%);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 90%);
}
/*------------------03. =0verrides variables for - dark theme------------------*/

body.t-dark {
  --body-bg-color: hsl(240, 10%, 19%);
  --black-70: hsl(0, 0%, 87%);
  --black-90: hsl(0, 0%, 100%);
  --shadow: 0 0 10px hsla(0, 0%, 0%, 0.08);
  --white: hsl(240, 8%, 21%);
  --select-box-bg-color: hsl(240, 8%, 21%);
  --border-color-2: hsl(240, 9%, 25%);
  --border-color-1: hsl(240, 9%, 30%);
}
/*------------------04. =base-----------------*/
body {
  background-color: var(--body-bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--black-70);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a :hover {
  color: var(--main-color);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-90);
  line-height: 1.3;
}

h3 {
  font-size: 20px;
}
::selection {
  color: var(--WHITE);
  background-color: var(--main-color);
}

/*------------------05. =box---------------*/
.box {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 30px;
}

.sub-bab {
  margin: 15px auto;
  padding: 10px;
}

/*------------------ 06. =customized bootstrap classes ------------------*/
.container {
  --bs-gutter-x: 15px;
  max-width: 1140px;
}

.row {
  --bs-gutter-x: 30px;
}

/*------------------ 07. =animation keyframes ------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bubble {
  0% {
    transform: translateY(0vh);
    opacity: 0;
  }

  5%,
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25%,
  50% {
    transform: rotate(100deg);
  }
  75%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderIn {
  0%,
  25%,
  100% {
    height: 0%;
  }

  50%,
  75% {
    height: 100%;
  }
}
/*------------------ 08. =section -padding , tittle ------------------*/
.section-padding {
  padding: 30px 0;
}

.section-title {
  margin-bottom: 40px;
}

.section-title .title {
  font-size: 20px;
  color: var(--main-color);
  text-transform: capitalize;
}

.section-title .sub-title {
  font-size: 35px;
  font-weight: 600;
  color: var(--black-90);
}

/*------------------ 09. =buttons ------------------*/
.btn-theme {
  background-color: var(--main-color);
  color: var(--WHITE);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.btn-theme:hover {
  color: var(--WHITE);
  background-color: var(--button-hover-color);
}

.btn-theme:focus {
  box-shadow: 0 0 8px var(--main-color);
}

.btn-block {
  width: 100%;
}

.btn-form {
  height: 48px;
}
/*------------------ 10. =page loader ------------------*/

/* .page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: flex;
  background-color: var(--white);
}

.page-loader .fade-out {
  opacity: 0;
  transition: all 0.6s ease;
}

.page-loader div {
  margin: auto;
  height: 32px;
  width: 32px;
  border: 4px solid var(--main-color);
  position: relative;
  animation: loader 2s linear infinite;
}

.page-loader div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  animation: loaderIn 2s linear infinite;
} */

/*------------------ 11. =circular img ------------------*/
.circular-img {
  max-width: 360px;
  margin: auto;
  position: relative;
  z-index: 1;
}

.circular-img-inner {
  text-align: center;
  border-radius: 0 0 180px 180px;
  overflow: hidden;
}

.circular-img-circle {
  height: 360px;
  width: 360px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50%;
}

.circular-img img {
  position: relative;
  z-index: 1;
  width: 340px;
  height: 340px;
}
/*------------------ 12. =forms ------------------*/
.form-title {
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: 600;
}

.form-control::placeholder {
  color: var(--black-70);
}
.form-group {
  margin-bottom: 25px;
  position: relative;
}

.form-control {
  height: 48px;
  border-color: var(--border-color-1);
  color: var(--black-90);
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  border-color: var(--border-color-1);
  color: var(--black-90);
  box-shadow: none;
}

.select-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 13px;
}

.select.form-control:focus option {
  background-color: var(--select-box-bg-color);
}

textarea.form-control {
  height: 120px;
  resize: none;
}
/*------------------ 13. =video modal ------------------*/
.video-modal .btn-close {
  height: 35px;
  width: 35px;
  background-image: none;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  position: absolute;
  right: 0;
  top: -35px;
  color: var(--WHITE);
  font-size: 16px;
  padding: 0;
}

.video-modal .modal-content {
  border: 0;
}
/*------------------ 14. =pagination ------------------*/
.page-item.disabled .page-link,
.page-link {
  border: none;
  background-color: transparent;
  color: var(--black-70);
}

.page-item.active .page-link {
  background-color: var(--main-color);
}

.page-link:hover {
  background-color: var(--main-color);
  color: var(--WHITE);
}

/*------------------ 15. =breadcrumb ------------------*/

.breadcrumb-nav {
  padding: 10px 0;
}

.breadcrumb-nav .breadcrumb-item {
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
}

.breadcrumb-nav .breadcrumb-item * .breadcrumb-item::before,
.breadcrumb-nav .breadcrumb-item {
  color: var(--black-70);
}

/*------------------ 16. =tabs ------------------*/
.nav-tabs .nav-link {
  background-color: var(--white);
  text-transform: capitalize;
  border-color: var(--border-color-2);
  padding: 5px 12px;
  margin: 0 5px 10px;
  border-radius: 5px;
  color: var(--black-70);
  font-size: 16px;
}

.nav-tabs .nav-link:hover {
  background-color: hsl(13, 78%, 77%);
  border-color: var(--border-color-2);
}

.nav-tabs .nav-link.active {
  background-color: var(--main-color);
  border-color: transparent;
  color: var(--WHITE);
  transition: all 0.3s ease;
}
/*------------------ 17. =bubble animation ----------------*/

.bubble-animation-item {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  z-index: -1;
}

.bubble-animation-item:nth-child(1) {
  border-color: var(--yellow-light);
  top: 120%;
  left: 10%;
  animation: bubble 30s linear infinite;
}

.bubble-animation-item:nth-child(2) {
  border-color: var(--green-light);
  top: 60%;
  left: 50%;
  animation: bubble 40s linear infinite;
}

.bubble-animation-item:nth-child(3) {
  border-color: var(--red-light);
  top: 90%;
  left: 90%;
  animation: bubble 50s linear infinite;
}

.bubble-animation-item:nth-child(4) {
  border-color: var(--yellow-light);
  top: 80%;
  left: 60%;
  animation: bubble 60s linear infinite;
}
.bubble-animation-item:nth-child(5) {
  border-color: var(--green-light);
  top: 30%;
  left: 10%;
  animation: bubble 70s linear infinite;
}
.bubble-animation-item:nth-child(6) {
  border-color: var(--red-light);
  top: 20%;
  left: 30%;
  animation: bubble 80s linear infinite;
}
.bubble-animation-item:nth-child(7) {
  border-color: var(--yellow-light);
  top: 100%;
  left: 5%;
  animation: bubble 60s linear infinite;
}
.bubble-animation-item:nth-child(8) {
  border-color: var(--green-light);
  top: 110%;
  left: 33%;
  animation: bubble 70s linear infinite;
}
.bubble-animation-item:nth-child(9) {
  border-color: var(--red-light);
  top: 120%;
  left: 65%;
  animation: bubble 80s linear infinite;
}

/*------------------ 18. =style switcher ------------------*/
.style-switcher {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: var(--white);
  right: -250px;
  top: 0;
  z-index: 10;
  padding: 30px;
  box-shadow: var(--shadow);
  transition: right 0.3s ease;
}

.style-switcher.open {
  right: 0;
}

.style-switcher-toggler {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 28%;
  left: -40px;
  background-color: var(--main-color);
  color: var(--WHITE);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}
.style-switcher h3 {
  font-size: 18px;
  text-transform: capitalize;
  border-bottom: 1px solid var(--border-color-1);
  padding: 0 0 10px;
}

.style-switcher-item {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color-1);
}

.theme-colors button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  vertical-align: middle;
  border-radius: 50%;
  padding: 0;
  position: relative;
}

.theme-colors button::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  color: var(--white);
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.theme-colors button.active::before {
  opacity: 1;
}

.theme-colors .color-1 {
  background-color: hsl(0, 74%, 61%);
}
.theme-colors .color-2 {
  background-color: hsl(230, 74%, 61%);
}
.theme-colors .color-3 {
  background-color: hsl(36, 74%, 61%);
}
.theme-colors .color-4 {
  background-color: hsl(277, 74%, 61%);
}
.theme-colors .color-5 {
  background-color: hsl(164, 74%, 61%);
}
/*------------------ 19. =header ------------------*/
.header {
  border-bottom: 1px solid var(--border-color-2);
}

.header-logo a {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-70);
}

.header-logo img {
  width: 30px;
  padding-bottom: 20px;
}

.header-logo span {
  color: var(--main-color);
}

.header .menu-item {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}

.header .menu-item > a {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  color: var(--black-90);
  text-transform: capitalize;
  transition: 0.3s ease;
}

.header .sub-menu-item a:hover,
.header .menu-item:hover > a {
  color: var(--main-color);
}
.header .menu-item > a i {
  font-size: 13px;
  margin-left: 3px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.header .sub-menu {
  position: absolute;
  top: 100%;
  background-color: var(--white);
  left: 0;
  width: 210px;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
}

@media (min-width: 992px) {
  .header .menu-item:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
.header .sub-menu-item a {
  display: block;
  padding: 10px 20px;
  color: var(--black-90);
  text-transform: capitalize;
  font-weight: 400;
  transition: color 0.3s ease;
}
.header-backdrop,
.header-close-btn,
.header-hamburger-btn {
  display: none;
}

/*------------------ 20. =footer ------------------*/
.footer-top {
  padding: 30px 0 20px;
  border-top: 1px solid var(--border-color-2);
  justify-content: space-between;
}

.bungkus_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  margin: 0 0 30px;
}

.footer-item h3 {
  text-transform: capitalize;
  margin: 0 0 20px;
}

.footer-item .footer-logo {
  color: var(--black-70);
  text-transform: uppercase;
}

.footer-item .footer-logo span {
  color: var(--main-color);
}

.footer-item ul li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-item ul a {
  text-transform: capitalize;
  color: var(--black-70);
  transition: color 0.3s ease;
  position: relative;
}

.footer-item ul a:hover {
  color: var(--main-color);
}
.footer-item ul a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.footer-item ul a:hover::before {
  width: 100%;
}

.footer-item ul a .social-icon {
  margin-right: 5px;
}

.footer-bottom {
  border-top: 1px solid var(--border-color-2);
}

.footer-bottom p {
  font-size: 14px;
}

/*------------------ 21. =banner ------------------*/
.banner-section {
  padding: 80px 0;
  min-height: 680px;
}

.banner-text h2 {
  font-size: 20px;
  color: var(--main-color);
}

.banner-text h1 {
  font-size: 45px;
  font-weight: 700;
}

.banner-section .circular-img-circle {
  background-color: var(--red-light);
}
/*------------------ 22. =fun facts section ------------------*/
.tambahan {
  justify-content: space-evenly;
  align-items: center;
}

.fun-facts-item {
  margin: 1px auto;
  padding: 15px 0;
  display: block;
  align-items: center;
  justify-content: center;
}

.fun-facts-item img {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.gambarke2 {
  display: inline-block;
  width: 100px;
  height: 150px;
}

.fun-facts-item a {
  width: auto;
  align-items: center;
  justify-content: center;
}

.fun-facts-item h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.fun-facts-item p {
  margin: 0;
  text-transform: uppercase;
}

.fun-facts-item .style-1 {
  color: var(--black-70);
}
.fun-facts-item .style-2 {
  color: var(--green-light);
}
.fun-facts-item .style-3 {
  color: var(--red-light);
}
.fun-facts-item .style-4 {
  color: var(--orange-light);
}
/*------------------ 23. =courses section ------------------*/
.sub-materi {
  display: flex;
  justify-content: space-evenly;
}
.courses-item {
  margin-bottom: 30px;
  position: relative;
}

.courses-item .img-box {
  width: 100%;
  border-radius: 5px;
  display: inline-block;
}

.courses-item .link {
  color: var(--black-70);
  display: inline-block;
}

.course-header.box {
  margin-bottom: 20px;
}
.courses-item .title {
  text-transform: capitalize;
  margin: 15px 0;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
}

.courses-item:hover .title {
  color: var(--main-color);
}
.courses-item .instructor {
  text-transform: capitalize;
  margin: 0 0 12px;
}
.courses-item .instructor img {
  width: 30px;
  border-radius: 50px;
  margin-right: 5px;
}
.courses-item .rating {
  font-size: 14px;
}

.courses-item .average-rating {
  font-weight: 600;
  color: var(--orange);
}

.courses-item .average-star i {
  color: var(--orange);
}
.courses-item .price {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: var(--main-color);
  color: var(--WHITE);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}
/*------------------ 24. =testimonials section ------------------*/
.testimonials-section .img-box {
  height: 150px;
  width: 150px;
  background-color: var(--main-color);
  margin: 30px auto 50px;
}

.testimonials-section .img-box::before,
.testimonials-section .img-box::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--red-light);
  animation: spin 15s linear infinite;
}

.testimonials-section .img-box::before {
  height: 180px;
  width: 180px;
  left: -15px;
  top: -15px;
  border-left: 1px solid transparent;
}

.testimonials-section .img-box::after {
  height: 210px;
  width: 210px;
  left: -30px;
  top: -30px;
  border-right: 1px solid transparent;
}

.testimonials-item h3 {
  text-transform: capitalize;
}
.testimonials-item .text-2 {
  margin: 0;
  text-transform: capitalize;
}

.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--main-color);
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
}

.testimonials-section .decoration-circles-item {
  position: absolute;
  border-radius: 50px;
  opacity: 0.4;
}

.testimonials-section .decoration-circles-item:nth-child(1) {
  left: 10%;
  top: 20%;
  height: 30px;
  width: 30px;
  background-color: var(--yellow-light);
}
.testimonials-section .decoration-circles-item:nth-child(2) {
  left: 40%;
  top: 40%;
  height: 50px;
  width: 50px;
  background-color: var(--green-light);
}
.testimonials-section .decoration-circles-item:nth-child(3) {
  left: 70%;
  top: 70%;
  height: 30px;
  width: 30px;
  background-color: var(--red-light);
}
.testimonials-section .decoration-circles-item:nth-child(4) {
  left: 20%;
  top: 50%;
  height: 20px;
  width: 20px;
  background-color: var(--red-light);
}

.testimonials-section .decoration-imgs-item {
  position: absolute;
  border-radius: 50%;
  opacity: 0.4;
}

.testimonials-section .decoration-imgs-item:nth-child(1) {
  height: 60px;
  width: 60px;
  left: 20%;
  top: 30%;
  background-color: var(--yellow-light);
}

.testimonials-section .decoration-imgs-item:nth-child(2) {
  height: 80px;
  width: 80px;
  left: 90%;
  top: 40%;
  background-color: var(--red-light);
}
.testimonials-section .decoration-imgs-item:nth-child(3) {
  height: 40px;
  width: 40px;
  left: 10%;
  top: 60%;
  background-color: var(--green-light);
}
/*------------------ 25. =bai section ------------------*/
.bai-section .circular-img-circle {
  background-color: var(--yellow-light);
}

/*------------------ 26. =course detail section ------------------*/

/* course geader */
.course-header h2 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 600;
}

.course-header .average-rating {
  font-weight: 600;
  color: var(--orange);
}
.course-header .average-stars i {
  font-size: 14px;
  color: var(--orange);
}

.course-header .rating span {
  vertical-align: middle;
}

.course-header ul li {
  margin: 6px 0 0;
  text-transform: capitalize;
}
.course-header ul li span {
  margin-left: 5px;
}

/*course tabs*/
.course-tabs {
  margin: 30px 0 20px;
}

.course-tabs .nav-link {
  margin: 0 10px 10px;
}

/* course curriculum */
.course-curriculum .accordion-item {
  border: 1px solid var(--border-color-2);
  background-color: transparent;
  transition: step-end;
}
.course-curriculum .accordion-body ul {
  /* padding: 10px 5px; */
  /* background-color: black; */
  border: 1px solid var(--border-color-2);
}
.course-curriculum .accordion-body .kompetensi {
  display: flex;
  border: 1px var(--border-color-2);
}

.course-curriculum .accordion-button span {
  position: absolute;
  /* right: 17px; */
  font-size: 14px;
}

.course-curriculum .accordion-button::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-image: none;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  width: auto;
  line-height: 1;
}
.course-curriculum .accordion-button {
  background-color: transparent;
  color: var(--black-70);
  font-weight: 300;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 160px;
  line-height: 1.5;
}

.course-curriculum .accordion-button:focus {
  box-shadow: none;
}

.course-curriculum .accordion-button:not(.collapsed) span {
  font-weight: 500;
}
.course-curriculum .accordion-button:not(.collapsed)::after {
  transform: translateY(-50%) rotate(-180deg);
}
.course-curriculum .accordion-button:not(.collapsed) {
  font-weight: 600;
  border-bottom: 1px solid var(--border-color-1);
  transition: none;
  box-shadow: none;
}

.course-curriculum ul li {
  position: relative;
  padding: 5px 20px 5px 20px;
}

.course-curriculum ul li .kompetensi {
  padding: 0;
}

.course-curriculum ul li:not(:last-child) {
  margin-bottom: 10px;
}

.course-curriculum ul li span {
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 0;
}
.course-curriculum ul li i {
  position: absolute;
  left: 0;
  top: 6px;
  right: 0;
  color: var(--black-70);
  font-size: 12px;
}

/* course description */
.course-description h4 {
  font-size: 16px;
}

/* course instructor */
.course-instructor .img-box img {
  max-width: 128px;
  margin-bottom: 15px;
}

.course-instructor h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.course-instructor h4 span {
  font-weight: 300;
}

.course-instructor ul li i {
  color: var(--main-color);
  margin-right: 5px;
}

.course-instructor ul li:not(:last-child) {
  margin-bottom: 5px;
}

/* course reviews */
.rating-summary .average-rating {
  font-size: 40px;
  font-weight: 700;
  color: var(--black-90);
}
.rating-summary .average-stars i {
  color: var(--orange);
}

.rating-summary .rating-bars-item {
  display: relative;
  align-items: center;
  margin-bottom: 8px;
}
.rating-summary.progress {
  height: 8px;
  background-color: var(--border-color-2);
  width: calc(100%-120px);
  margin-right: 20px;
  border-radius: 0;
}
.rating-summary .progress-bar {
  background-color: var(--main-color);
}

.rating-summary .star-text {
  min-width: 60px;
  color: var(--orange);
}

.reviews-filter {
  margin: 0 0 35px;
  width: 200px;
}
.reviews-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 65px;
}

.reviews-item .img-box {
  max-width: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.reviews-item h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 5px;
  color: var(--black-90);
}

.reviews-item .stars-rating i {
  color: var(--orange);
  font-size: 14px;
}
.reviews-item .stars-rating .date {
  margin-left: 5px;
  font-size: 14px;
  display: inline-block;
}

.reviews-item p {
  margin: 5px 0 0;
}

/* course sidebar */
.course-sidebar .img-box {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.course-sidebar .img-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-alpha-40);
}

.course-sidebar .play-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--WHITE);
}

.course-sidebar .img-box p {
  position: absolute;
  color: var(--WHITE);
  top: calc(50% + 40px);
  font-weight: 500;
  width: 100%;
}

.course-sidebar .price span {
  margin-right: 8px;
}

.course-sidebar .price-new {
  font-size: 30px;
  font-weight: 700;
  color: var(--black-90);
}

.course-sidebar .price-discount {
  color: var(--main-color);
}

.course-sidebar .features-list {
  margin: 0 0 20px;
}

.course-sidebar .features-list li {
  position: relative;
  padding-left: 21px;
  margin-bottom: 8px;
}

.course-sidebar .features-list li::before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 9px;
  border-radius: 50%;
}
/*------------------ 27. =contact section ------------------*/
.contact-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 40px;
}

.contact-item .icon-box {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 0;
  top: 0;
  color: var(--WHITE);
}

.tab-pane {
  transition-duration: 0.1s;
  transition-property: inherit;
}

/* info tambahan */

/*------------------------------------ KUIS------------------------- */
.persamaan {
  /* dikasih style border */
  width: 200px;
  border: 1px solid var(--main-color);
  box-shadow: 3px 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 20px auto;
  padding: 18px;
  border-radius: 20px;
  position: relative;
}



.paragraf {
  text-align: justify;
  /* text-indent: 30px; */
}

.gambar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gambar_bandul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}
.materi img {
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  border: 3px 3px solid hwb(214 96% 1%);
}

/* =============================================================== RUWWWWEEETTT =========================================== */



.definisi {
  font-family:  "Poppins";
  font-weight: 400;
  text-align: justify;
  font-size: 12px;
  margin-bottom: 10px;
}

.keterangan {
  padding: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  display: block;
}

/* =============================================================== RUWWWWEEETTT =========================================== */


.definisi img {
  width: 200px;
}

.contoh {
  text-align: center;
  margin: 30px auto;
  font-size: 22px;
  color: var(--main-color);
  text-shadow: 15px var(--WHITE);
  font-weight: 500;
}

.istilah {
  color: var(--main-color);
  font-style: var(--yellow-light);
  font-weight: 600;
}

/* -------------------tambahan buttons--------------------------- */
.tombol_baru {
  background-color: var(--main-color);
  color: var(--WHITE);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  padding: 8px 20px;
  transition: all 0.3s ease;
}

.tombol_baru:hover {
  color: var(--WHITE);
  background-color: var(--button-hover-color);
}

.tombol_baru:focus {
  box-shadow: 0 0 8px var(--main-color);
}

.tombol_baru {
  width: 100%;
}

.tombol_baru {
  height: 48px;
}

.kotak {
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
}



/*---------- carousel coba-------------------------- */
.slider {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var();
}
.item {
  /* display: flex; */
  position: absolute;
  width: 800px;
  height: 350px;
  /* margin-right: 700px; */
  text-align: justify;
  background-color: var(--body-bg-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 20px;
  transition: 0.5s;
  /* left: calc(50% - 110px); */
  top: 0;
  border: 1px solid var(--main-color);
}
.carousel-ku {
  display: grid;
  grid-template-columns: 40% auto;
}

.carousel-ku img {
  margin-right: 30px;
}

.carousel-ku img {
  width: 250px;
  height: 150px;
}

.item h1 {
  text-align: center;
}
#next {
  position: absolute;
  right: 50px;
  top: 40%;
  z-index: 5;
}
#prev {
  position: absolute;
  left: 50px;
  top: 40%;
  z-index: 5;
}
#prev,
#next {
  color: var(--main-color);
  background: none;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.5s;
}
#prev:hover,
#next:hover {
  opacity: 1;
}

.login-form.box {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 2px;
}

/* PEMBAHASAN LATIHAN SOAL */

#notes-container {
  width: 300px;
  margin: 0 auto;
}
#note-list {
  list-style: none;
  padding: 0;
}
.note {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.note input {
  width: 100%;
  border: none;
  outline: none;
}
.delete-btn {
  cursor: pointer;
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

.nilai_akhir {
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 450;
  width: 182px;
  margin-top: 5px;
  display: flex;
  padding: 10px 20px 10px 20px;
  background-color: var(--main-color);
}

/* =============
SOAL STYLE
 ===========*/

 .soal {
  margin-bottom: 15px;
}

.penjelasan {
  padding-left: 20px;
}

.opsi_pembahasan {
  margin-left: 30px;
}

.opsi_pembahasan div {
  margin: 10px 0;
}

.jawaban_benar {
  color: var(--main-color);
}

.penjelasan p {
  margin-bottom: 5px;
}

.soal {
  padding: 10px 10px 0 10px;
  text-align: justify;
  font-weight: 400;
}
.pembungkus_soal {
  display: grid;
  grid-template-columns: 20px auto;
}

.opsi {
  margin: 10px;
  margin-top: -20px;
  margin-left: 30px;
}

.opsi input {
  margin-bottom: 20px;
}
.opsi .nomor_6 {
  margin-bottom: 30px;
}

.animasi_hooke {
  margin: 15px auto;
  margin-bottom: 15px;
}
.animasi_hooke img {
  width: 380px;
}
.gambar_pengertian {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gambar_pengertian img {
  width: 250px;
}

.accordion-body {
  padding: 0;
  margin: 2px;
}
.jawaban_contoh01 {
  margin-left: 1rem;
}

/* PADA LAMAN NOTES DI BESARAN-BESARAN */
.soal_periode p{
  margin-bottom: 3px;
  margin-left: 16px;
}

/*==========
 TYPOGRAPY 
============*/


.nav-link {
  text-align: start;
}
.instruksi {
  margin-top: -20px;
  font-style: italic;
  font-size: 11px;
}

.judul_notes {
  font-size: 20px;
  color: var(--main-color);
}
.judul_subBab {
  font-size: 24px;
  color: var(--main-color);
}

.kalimat {
  text-align: justify;
}

.kalimat_utama {
  text-align: justify;
  text-indent: 25px;
}



.keterangan {
  font-family: "Roboto mono", monospace;
  margin-left: 1rem;
  margin-bottom: 1em;
  font-size: 16px;
}

.keterangan_gambar {
  color: var(--main-color);
  font-weight: 900;
  margin-bottom: -1px;
  font-family: "roboto";
}

/* ==============================PERSAMAAN============= */

.persamaan {
  font-family: "Roboto mono", monospace;
  font-size: 18px;
  width: 200px;
  border: 1px solid var(--main-color);
  box-shadow: 3px 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 20px auto;
  padding: 18px;
  border-radius: 20px;
  position: relative;
}

.omega {
  font-size: 18.5px;
  font-weight: 700;
}

.frekuensi,
.periode {
  font-size: 21px;
}


.keterangan_revisi{
  text-align: center;
  }
  
  .revisi1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  .revisi1 span{
    margin-bottom: 0;
    font-weight: 700;
    color: var(--main-color);
  }
  .keterangan_persamaan{
    text-align: center;
    margin-top: -12px;
  }


.gambar_amplitudo{
  width: 300px;
}
.persamaan_panjang {
  display: flex;
  width: auto;
  padding: 10px;
  text-align: center;
  box-shadow: 3px 3px solid var(--main-color);
  height: auto;
}

.bungkus_persamaan {
  padding: 10px;
  margin: 1px auto;
  position: relative;
  width: auto;
  height: auto;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  box-sizing: border-box;
}

.head-simpangan {
  text-align: center;
  font-size: 1.7rem;
  color: var(--main-color);
  margin-bottom: 1rem;
}

/* ===============
=========Pada Laman Penerapan========
================== */

.definisi .rumus {
  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 10px;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
}

.rumus p {
  margin: 10px 20px;
}

.bandul_grid {
  background-color: var(--white);
  display: grid;
  /* width: 100%; */
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: 1.5fr 3fr;
}

.bungkus_bandul p {
  text-align: center;
}
.keterangan_bandul {
  padding-left: 15px;
  padding-bottom: 5px;
}

.bandul_grid p {
  margin: auto;
  margin-right: 10px;
}

.bandul_grid img {
  justify-content: center;
  align-items: center;
  width: 270px;
}

.definisi .gambarPegas {
  width: 400px;
}

.pembahasan-pegas {
  padding: 3px 15px;
}

.pembahasan-pegas img {
  width: 300px;
}


.persamaan-pegas {
  color: var(--main-color);
}

.besarin {
  font-size: 16px;
}

.besarin-2 {
  font-size: 20px;
}

.pegas_x {
  display:flex;
  justify-content: center;
  align-items: center;
}
.sumbu_x img{
  width: 300px;
}
/* KI dan KD */

.accordion-body2 .kompetensi {
  border: 1px solid var(--border-color-2);
  display: grid;
  grid-template-columns: 60px auto;
  padding: 1px 1px;
}

.accordion-body2 {
  padding: 10px 20px;
}

.kompetensi_3 {
  /* background-color: aqua; */
  border: 1px solid var(--border-color-2);
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.kompetensiDasar_3 {
  /* background-color: aqua; */
  border: 1px solid var(--border-color-2);
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.kompetensi_nomor {
  /* background-color: antiquewhite; */

  border: 1px solid var(--border-color-2);

  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--border-color-2);
}

.kompetensi_inti1 {
  /* background-color: brown; */
  margin-bottom: 0;
  text-align: justify;
  margin: 2px 5px;
}
.kompetensi {
  text-align: justify;
}
.kompetensi li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-right: 10px;
}
.kompetensi_inti {
  text-align: justify;
  border: var(--border-color-1);
  padding: 5px 10px;
  margin-bottom: 2px;
}

/* REFERENSI */

.referensi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.referensi_box {
  width: 80%;
  gap: 3px;
}

.bungkusReferensi {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.gambarBuku {
  /* background-color: aqua; */
  width: 150px;
  margin: auto;
}

/* foto terbaru */

.container_foto {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  /* background-color: aqua; */
}

.container_foto .card_foto {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: var(--body-bg-color);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container_foto .card_foto:hover {
  height: 420px;
}

.container_foto .card_foto .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 4px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container_foto .card_foto .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}

.container_foto .card_foto .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container_foto .card_foto:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* PADA LAMAM ENERGI */
.gambar_energi { 
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.gambar_energi img {
  width: 400px;
  margin: 5px auto;
  border-radius: 3px;
}

.atau {
  color: var(--main-color);
}

.penjelasan_animasi {
  display: grid;
  grid-template-columns: 20px auto;
  margin-bottom: 0.4rem;
}

.penjelasan_proses {
  text-align: justify;
}
.jawaban_energi {
  display: grid;
  grid-template-columns: 20px auto;
  margin-bottom: 0.4rem;
  padding: 5px 3px;
  text-align: justify;
}
.nomor_contoh {
  margin-top: 3px;
}
.padding-energi {
  padding-left: 10px;
  padding-right: 10px;
}


/* CONTOH PENERAPAN DI PENDAHULUAN */
.bungkus_contoh {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* background-color: aqua; */
  font-size: 14px;
  margin-bottom: 20px;
}

.contoh_1 {
  font-weight: 500;
  flex-grow: 1;
  flex-basis: 300px;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
  border-radius: 3px;
}

.contoh_2 {
  font-weight: 500;
  flex-grow: 1;
  flex-basis: 300px;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
  border-radius: 3px;
}

.contoh_2 img {
  width: 87%;
}

.contoh_3 {
  font-weight: 500;
  flex-grow: 1;
  flex-basis: 300px;
  text-align: center;
  border-bottom: 1px solid var(--main-color);
  border-radius: 3px;
}

.contoh_3 img {
  width: 520px;
}

.gambar_hooke {
  text-align: center;
}

.gambar_hooke img {
  width: 210px;
}
.gambar_hooke .keterangan_gambar{
  margin-top: -9px;
}

.penjelasan_gambar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}


.nomor_persamaan {
  text-align: center;
}

.nomor_persamaan span {
  color: var(--main-color);
  font-weight: 700;
}

/*==================
 PENGERTIAN
 ==================*/




/* PER FASE AN DUNIAWI */
.fase {
  display: flex;
  justify-content: center;
}
.fase img {
  width: 450px;
  margin: 3px auto;
}
.contoh_fase {
  display: flex;
  justify-content: center;
}
.contoh_fase img{
  width: 550px;
  margin-bottom: 10px;
}

.penjelasan_fase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.penjelasan_fase div {
  border: 3px solid var(--main-color);
  margin-bottom: 5px;
  margin-right: 5px;
}

.penjelasan_fase section {
  border-top: 1px solid var(--main-color);
}

.titik_a, .titik_b, .titik_c, .titik_d, .titik_e, .titik_f, .titik_g, .titik_h, .titik_i {
  text-align: center;
}
.bungkus_fase {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.jawaban_fase {
  margin: 0 16px 0 16px;
}

/* PERMODALAN DUNIAWI */


/* POPOVER */
.accordion-button:hover {
  background-color: var(--main-color);
  transition: 0.2s ease;
}



/* PER FONT AN */


#changeText {
  /* font-size: 14px; */
  /* margin-bottom: 20px; */
}

/* .baru {
  text-indent: 30px;
  text-align: justify;
} */